# Secretos
.env
backend/.env

# Python
__pycache__/
*.pyc
.venv/

# Node (Frontend)
node_modules/
dist/

# Imágenes subidas (para que no pesen en el repo)
backend/static/uploads/*
!backend/static/uploads/.gitkeep
